.monitor {
    width: 100vw;
    height: 100vw;
    background-color: black;
}

.main {
    width: 68%;
    height: 84%;
    background-color: gray;
}

.head {
    width: 200px;
    height: 200px;
    position: relative;
    top: calc( 50% - 100px );
    left: calc( 50% - 100px );
    border-radius: 50%;
    background-color: azure;
}

.collaborator {
    width: 12%;
    height: 20%;
    border-radius: 5%;
    color: blue;
    background-color: gray;
}

.function {
    width: 96%;
    height: 10%;
    background-color: gray;
}